.game-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center; 
}

/* Temporary XD */
.game-container > h2 {
  font-size: 40px;
  font-family: 'Arial';
}

#canvas {
  margin: auto;
  margin: 20px;
}